*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.container-fluid{
    padding: 0 !important;
}
.header{
    z-index: 999;
    height: 70px;
    position: fixed;
    width: 100%;
}
.header-logo{
    padding-top: 70px;
}
/* TOP-BAR */
.top-bar{
    /* background-color: #efcac1; */
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    height: 70px;
    line-height: 70px;
}
/* .top-bar-icon{
    padding-right: 150px;
    font-size: 25px;
    color: #fff;
} */
.icon-item{
    padding-left: 10px;
}
.top-bar-sig{
    padding-left: 150px;
}
.top-bar-sig .login{
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 7px 20px;
}
.login:hover{
    opacity: 0.6;
}


/* HEADER-NAV */
.header-nav{
    /* padding-right: 150px; */
    margin-right: 150px;
}
.nav{
    padding-right: 70px;
}
.nav .nav-item{
    line-height: 56px; 
    margin: 15px 5px 0 0; 
    position: relative;
    
}
.nav-item .list_con{
    position: absolute;
    list-style: none;
    background-color: #ebc1ce;
    top: 55px;
    width: 155px;
    padding: 0;
    display: none;
}
.nav .nav-item:hover .list_con{
    display: block;
}
.list_con li{
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 20px;
    line-height: 40px;
}
.list_con li:hover{
    border: 1px solid #fff;
    color: #fff;
}
.list_con a{
    color: #fff;
}
.list_con a:hover{
    text-decoration: none;
    color: #fff;
}
.nav_link{
    border: 1px solid transparent;  
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    max-height: 40px;
    padding: 5px 20px;
    font-size: 17px;
    border-radius: 20px;
}
.nav_link:hover{ 
    text-decoration: none;
    border-radius: 20px;
    color: #fff;
    border: 1px solid #fff;
}


/* TOP-BAR-ICON */
.top-bar-icon{
    color: #fff;
    font-size: 17px;
}
.icon-item:hover{
    opacity: 0.7;
    cursor: pointer;
}
/* .icon-item:active{
    scale: 1.1 !important;
    transform: translateY(-15px) !important;
} */
/* HEADER-SEARCH */
#input-search{
    max-height: 45px;
    max-width: 550px;
    border-radius: 30px;
    margin: 82px 0 0 205px;
}
.icon{
    font-size: 25px;
    margin: 92px 5px 0 -40px;
    /* color: #fff; */
}

/* Background */

.product-logo{
    /* background-color: #f1e6ed; */
    background-color: #fcebee;
    background-image: linear-gradient(90deg, #fcebee 0%, #fcf0f3 100%);
}
.product-logo h1{
    line-height: 80px;
    font-family: 'Stash Vintage', sans-serif;
}

/* Show-product */
.show-product{
    font-size: 20px;
    margin-top: 55px;
}
.home-map {
    padding-right: 15px;
    color: #000;
    opacity: 0.6;
}
.home-map:hover{
    text-decoration: none;
}
.show-product p{
    padding-left: 15px;
}


/* Product nav */
.product-nav{
    height: 70px;
    margin-top: 45px;
    background-color: #f3f3f3;
    line-height: 70px;
    display: flex;
}
.product-nav label{
    padding-left: 20px;
}
.product-nav i{
    font-size: 20px;

}
.trademark{
    border: none;
}
.product-icon{
    margin-left: auto;
    padding-right: 20px;
}
.product1{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.product1 .card{
    margin-top: 40px;
}
.card:hover{
    border: 1px solid red;
}
.nav-number{
    margin-top: 45px;
    align-items: center;
}
.nav-number .skip{
    border-radius: 50%;
    padding: 17px;
    color: #000;
}
.skip:hover{
    color: #000;
    background-color: #f7b1b1;
    transition: .2s linear;
}
.skip-number{
    border-radius: 50%;
    padding: 17px;
    color: #000;
}
.skip-number.selected{
    background-color: #f7b1b1;
    color: #000;
}
.nav-number .skip-number:hover{
    text-decoration: none;
    color: #000;
    background-color: #f7b1b1;
    transition: .2s linear;
}

.number-item{
    padding: 0;
}
/* footer */

.footer{
    background-color: #f3f3f3;
    margin-top: 80px;
    height: 200px;
}
.footer-container{
    align-items: center;
    height: 100%;
}
.contact{
    display: flex;
    flex-direction: column;
}
.contact a{
    color: #000;
}
.contact a:hover{
    text-decoration: none;
}
.footer-contact, .footer-customer, .footer-pay{
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-customer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-customer a{
    color: #000;
}
.footer-customer a:hover{
    text-decoration: none;
}

/* modal */
#avatar{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}
#change-avatar{
    border: none;
    margin-left: 50%;
    transform: translateX(-50%);
}
